/* 
Patricia Dacosta 
VFW 1210
Project 4
style.css
October 17, 2012 
*/


		html {
		    background: #00CED1;
		}


		h1 {
		    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#FFFFFF));
		    text-align:center
		    color: #FFFFFF;
		    font-size: 200%;
		    padding: 2em;
		    margin: -0.25em -0.75em 0.75em -0.75em;
		}


		body {
		    font-family: "Arial Black", Gadget, sans-serif;
		    margin: 0em auto; 
		    padding: 1.5em;
		    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#008080));
		    color: #FFFFFF;
		    max-width: 60em;
		    max-height: 100em;
		    line-height: 1.5em;
		}


		label.formInputs {
			display: block;
			height: 25px;
			margin-top: 10px;
		}

		fieldset {
			color: #FFFFFF;
			font-family: "Arial Black", Gadget, sans-serif;
			background-color: #000000;
			opacity: 1;
			border-color: #white;
			border-style: solid;
			font-style: bold;
			line-height: 20px;
			width: 400px;
			margin-bottom: 20px;
			margin-top: 10px;
		}
		
		a:link {
			color: #00CED1;
		}
		
		a:hover {
			color: #FFFFFF;
		}
		
		a {
			margin-right: 10px;
		}